<div class="container" id="mainHeader">
  <header>
    <a href="{{ "/" | relURL }}">
      <img class="logo" src="{{ "images/svg/logo.svg" | relURL }}" alt="logo">
    </a>

    <div class="aryaBtn-toggle-main mt-0">
      <a href="{{ "/#contact" | relURL }}" class="aryaBtn hire-me-btn">
        Hire Me <img src="{{ "images/svg/hireMe-svg.svg" | relURL }}" alt="hireMe-svg">
      </a>

      <button id="menu-toggle" class="menu-toggle-button">
        <span class="hamburger" id="hamburger-1">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </span>
      </button>
    </div>
  </header>
</div>
